# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - release
  - 0.5
notifications:
  email: false
script:

    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    - julia -e 'Pkg.clone(pwd()); Pkg.test("ModMashup", coverage=true)'
after_success:
    - julia -e 'cd(Pkg.dir("ModMashup")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
    - julia -e 'Pkg.add("Documenter")'
    - julia -e 'cd(Pkg.dir("ModMashup")); include(joinpath("docs", "make.jl"))'